:root{
    --hour-width: 125px;
    --legend-width: 300px;
    --strip-height: 25px;
    --legend-strip-line-width: 100%;
}

h1, p{
    margin-top: 0;
    margin-bottom: 0;
}

body {
    color: white;
    background-color: #1a475f;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    header img{
        display: none;
    }
}

.container{
    padding: 16px;
}

.canvas-controllers, .canvas-positions{
    color: black;
    background: white;

    display: flex;
    flex-direction: row;
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
}

.legend{
    width: var(--legend-width);
    background: #dfebeb;
    flex-shrink: 0;
}

.hour-column{
    width: var(--hour-width);
    height: 100%;
    border-right: 1px solid #c5c5c5;

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

.hour-column-divider{
    width: calc(var(--hour-width)/4);
    height: 100%;
    border-right: 1px solid #ededed;

    color:#737373;
    font-size: 8px;
    font-weight: 200;
    position: absolute;

    box-sizing: border-box;
}

.hour-column-divider:last-child{
    border-right: none;
}

.hour-column-divider:hover{
    background: #ededed;
    opacity: 0.4;
    z-index: 5;
}

.legend-strip{
    width: var(--legend-width);
    position: absolute;
    background: #66caac;

    height: var(--strip-height);
    font-size: 12px;
    line-height: 24px;
}

/* When legend-strip get a hover, add a horizontal black line through the content */
.legend-strip:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: var(--legend-width);
    width: calc(var(--legend-strip-line-width) - var(--legend-width));
    height: var(--strip-height);

    border: 1px solid #737373;
    box-sizing: border-box;
    z-index: 5;
}

.strip{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 100px;
    background: #66caac;

    box-sizing: border-box;

    height: var(--strip-height);
    font-size: 13px;
    line-height: 24px;

    z-index: 2;

}

/* Colors */

.color-positions-1 { background-color: #e0b5b5; }
.color-positions-2 { background-color: #e0dac5; }
.color-positions-3 { background-color: #f7fad2; }
.color-positions-4 { background-color: #d1fad1; }
.color-positions-5 { background-color: #d2f1fa; }
.color-positions-6 { background-color: #fad2f7; }
.color-positions-7 { background-color: #ffb3b3; }
.color-positions-8 { background-color: #fc8e8e; }
.color-positions-9 { background-color: #ffd27f; }
.color-positions-10 { background-color: #f8ff98; }
.color-positions-11 { background-color: #7eff8f; }
.color-positions-12 { background-color: #87ffd1; }
.color-positions-13 { background-color: #7ae4ff; }
.color-positions-14 { background-color: #949eff; }
.color-positions-15 { background-color: #e09fff; }
.color-positions-16 { background-color: #ff83b7; }
.color-positions-17 { background-color: #ff7e7e; }
.color-positions-18 { background-color: #ff9853; }
.color-positions-19 { background-color: #ffb651; }
.color-positions-20 { background-color: #64fc3e; }
.color-positions-21 { background-color: #1cffff; }
.color-positions-22 { background-color: #3eafff; }
.color-positions-23 { background-color: #D1B3FF; }
.color-positions-24 { background-color: #FFB3DF; }
.color-positions-25 { background-color: #a490ff; }

/* Reverse order of color-positions and name them color-controllers */

.color-controllers-1 { background-color: #cbbfff; }
.color-controllers-2 { background-color: #e0dac5; }
.color-controllers-3 { background-color: #f7fad2; }
.color-controllers-4 { background-color: #d1fad1; }
.color-controllers-5 { background-color: #d2f1fa; }
.color-controllers-6 { background-color: #fad2f7; }
.color-controllers-7 { background-color: #ffb3b3; }
.color-controllers-8 { background-color: #fc8e8e; }
.color-controllers-9 { background-color: #ffd27f; }
.color-controllers-10 { background-color: #f8ff98; }
.color-controllers-11 { background-color: #7eff8f; }
.color-controllers-12 { background-color: #87ffd1; }
.color-controllers-13 { background-color: #7ae4ff; }
.color-controllers-14 { background-color: #949eff; }
.color-controllers-15 { background-color: #e09fff; }
.color-controllers-16 { background-color: #ff83b7; }
.color-controllers-17 { background-color: #ff7e7e; }
.color-controllers-18 { background-color: #ff9853; }
.color-controllers-19 { background-color: #ffb651; }
.color-controllers-20 { background-color: #64fc3e; }
.color-controllers-21 { background-color: #1cffff; }
.color-controllers-22 { background-color: #3eafff; }
.color-controllers-23 { background-color: #D1B3FF; }
.color-controllers-24 { background-color: #FFB3DF; }
.color-controllers-25 { background-color: #e0b5b5; }