:root{
    --hour-width: 125px;
    --legend-width: 300px;
    --strip-height: 25px;
}

body {
    color: white;
    background-color: #1a475f;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    header img{
        display: none;
    }
}

.container{
    padding: 16px;
}

.canvas-controllers, .canvas-positions{
    color: black;
    background: white;

    display: flex;
    flex-direction: row;
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
}

.legend{
    width: var(--legend-width);
    background: #dfebeb;
    flex-shrink: 0;
}

.hour-column{
    width: var(--hour-width);
    height: 100%;
    border-right: 1px solid #c5c5c5;

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

.hour-column-divider{
    width: calc(var(--hour-width)/4);
    height: 100%;
    border-right: 1px solid #ededed;

    color:#737373;
    font-size: 8px;
    font-weight: 200;
    position: absolute;

    box-sizing: border-box;
}

.hour-column-divider:last-child{
    border-right: none;
}

.legend-strip{
    width: var(--legend-width);
    position: absolute;
    background: #66caac;

    height: var(--strip-height);
    font-size: 12px;
    line-height: 24px;
}

.strip{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 100px;
    background: #66caac;

    border-right: 1px solid #011328;
    box-sizing: border-box;

    height: var(--strip-height);
    font-size: 13px;
    line-height: 24px;

}

/* Colors */

.color-positions-1 { background-color: #FF5733; } /* Vivid red-orange */
.color-positions-2 { background-color: #33FF57; } /* Bright green */
.color-positions-3 { background-color: #3357FF; } /* Deep blue */
.color-positions-4 { background-color: #F33FF5; } /* Magenta */
.color-positions-5 { background-color: #57FF33; } /* Lime green */
.color-positions-6 { background-color: #FF3357; } /* Bright red */
.color-positions-7 { background-color: #33F5FF; } /* Cyan */
.color-positions-8 { background-color: #F5FF33; } /* Yellow */
.color-positions-9 { background-color: #FF5733; } /* Another shade of red-orange for diversity */
.color-positions-10 { background-color: #7F33FF; } /* Purple */

/* Create unique colors */
.color-controllers-1 { background-color: #DFA241; } 
.color-controllers-2 { background-color: #A2DF41; }
.color-controllers-3 { background-color: #41A2DF; }
.color-controllers-4 { background-color: #DF41A2; }
.color-controllers-5 { background-color: #41DFA2; }
.color-controllers-6 { background-color: #A241DF; }
.color-controllers-7 { background-color: #41DFDF; }
.color-controllers-8 { background-color: #DFDF41; }
.color-controllers-9 { background-color: #DF41A2; }
.color-controllers-10 { background-color: #7F33FF; }
